@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #f6e204;
  color: black;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

html {
  color: white;
  background-color: black;
}
