@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #f6e204;
  color: black;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}
.btn {
  @apply uppercase transition-all;
}
.btn-sm {
  @apply px-4 py-1 text-xs;
}
.btn-md {
  @apply px-4 py-2 text-sm;
}
.btn-lg {
  @apply px-7 py-3 text-sm;
}
.btn-white {
  @apply bg-white text-primary-500 hover:text-primary-600 ring-primary-500;
}
.btn-primary {
  @apply text-black border-2 border-black border-dashed hover:bg-black hover:text-white;
}
.btn-ol-primary {
  @apply text-primary-600 hover:bg-primary-100 hover:border-solid;
}
.btn-secondary {
  @apply text-white bg-secondary-500 hover:bg-secondary-600 ring-secondary-500;
}
.btn-ol-secondary {
  @apply text-secondary-600 bg-secondary-200 hover:bg-secondary-300 ring-secondary-500;
}

.gradify {
  @apply text-white bg-gradient-to-r from-secondary-500 to-primary-500;
}

.inputify {
  @apply text-gray-700 border-red-900 hover:border-gray-900;
}

.ringify {
  @apply ring-black focus:outline-none focus:ring-2 ring-offset-white focus:ring-offset-4;
}
